{% extends "base.html" %}
{% block title %} Afficher FILMS {% endblock %}
{% block body %}
<div class="container">
	<div class="col-md-12">
		<table class="table table-responsive-sm">
            {% if data %}
				<thead>
					<tr>
						<th class="" >
						  Id
						</th>
						<th class="" >
						  Nom
						</th>
						<th class="" >
						  Prenom
						</th>
						<th class="" >
						  Telephone
						</th>
						<th class="" >
						  Mail
						</th>
					</tr>
				</thead>
			{% endif %}
			{% for row in data %}
			<tbody>
				<tr>
					  <th class="align-middle">
						  {{ row.id_Personne }}
					  </th>
					  <th class="align-middle">
						{{ row.Nom_Personne }}
					  </th>
					  <th class="align-middle">
						{{ row.Prenom_Personne }}
					  </th>
					  <th class="align-middle">
						{{ row.Telephone_Personne }}
					  </th>
					  <th class="align-middle">
						{{ row.Mail_Personne }}
					  </th>
					  <th class="align-middle">
						<a class="btn btn-primary" href="{{ url_for('personne_ajouter_wtf') }}" role="button">Ajouter</a>
					  </th>
					  <th class="align-middle">
						<a class="btn btn-warning" href="{{ url_for('personne_update_wtf', id_personne_btn_edit_html=row.id_Personne) }}" role="button">Edit</a>
					  </th>
					  <th class="align-middle">
						<a class="btn btn-danger" href="{{ url_for('personne_delete_wtf', id_personne_btn_delete_html=row.id_Personne) }}" role="button">Delete</a>
					  </th>
					<tr>
						<td class="align-middle">
							<a class="btn btn-warning" href="{{ url_for('edit_emprunter_materiel_personne_selected', id_emprunter_materiel_personne_edit_html=row.id_Personne) }}" role="button">Modifier</a>
						</td>
						<td class="align-middle" colspan="5">
							{{ row.EmprunterMaterielPersonne|default("PAS D'EMPLOYER", True) }}
						</td>
					</tr>
				</tr>
			</tbody>
			{% else %}
				<tbody>
					<tr>
						<td>
							Aucune personne.
						</td>
						<td>
							<a class="btn btn-primary" href="{{ url_for('avertissement_sympa_pour_geeks') }}" role="button">Add</a>
						</td>
					</tr>
				</tbody>
			{% endfor %}

		</table>
	</div>
</div>
{% endblock %}
